@{
    ViewData["Title"] = "API Main";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core?view=azure-devops">Deploying Web apps to Azure Linux.</a>.</p>
</div>
